
main {
  min-height: 80vh;
}
h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.rating{
  text-align: center;
  color: white;
  text-decoration: none;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel a {
  margin: 0 auto;
}

#carsoul-rating{
  font-family: "Black Ops One";
  font-size: 32px;
  color: white;
  text-align: center;
  margin-top: 3px ;
}

/*small resolution */
@media (max-width: 767px) {
  .carsoul-product-name {
    font-size: 6px; /* Adjust the font size as needed */
  }
  .carsoul-product-price {
    display: none;
  }
  #carsoul-product-image{
    margin-left: 5%;
  }
  .carousel img {
    width: 300px;
    padding: 30px;
    margin: 40px;
  }
}

/* medium resolution */
@media (min-width: 768px) and (max-width: 1023px) {
  .carsoul-product-name {
    font-size: 15px; /* Adjust the font size as needed */
  }
  .carsoul-product-name {
    display: none;
  }
  .carousel img {
    width: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
  }
}

/*large resolution*/
@media (min-width: 1024px) {
  .carsoul-product-name {
    font-size: 20px; /* Adjust the font size as needed */
  }
  .carousel img {
    width: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
  }
}
